body {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

input {
    margin-bottom: 10px;
}

#messages {
    height: 350px;
    min-width: 250px;
    overflow-y: scroll;
    border: 2px solid rgb(154, 187, 196);
    margin-bottom: 10px;
}

.message {
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
    min-width: 200px;
    border: 1px solid #ccc;
    background: white;
}

.message>p {
    margin: 0px;
}